@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    /*text-align: center;*/
    color: black;
    box-sizing: content-box;
    padding-left: 10px;
}
/*headings*/
#guessquiz {
    padding-left: 10px;
    text-align: left;
    font-size: 1.5rem;
}
#logo {
    height: 100px;
    max-width: 100px;
    /*padding-right: 5px;*/
    margin-top: 0px;
}
.choice {
    margin-bottom: auto;
    margin-top: auto;
}
/*main*/

.control{
    background-color: rgb(172, 172, 200);
    /*background: url(../image/pexels-sebastian-411207.jpg)no-repeat top center;*/
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 400px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
.pieces {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}


#image-container img {
    max-width: 100px;
    height: 70px;
    margin: 10px;
}
.input-box {
    margin-top: 50px;
    padding-top: 100px;
    
    margin-bottom: 5px;
    padding-bottom: 0px;
    padding: 0 15px;
}
#answer-box{
    margin-top: 0em;

}


#button, #btn, #bttn, #btttn   {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-justify: auto;
    text-transform: lowercase;
    letter-spacing: 1.2px;
    color: rgb(40, 55, 156);
    padding: 0;
    margin-top: auto;
    background-color: burlywood;

}

#button:active,
#button:hover {
    background-color: darkblue;
    color: burlywood;;
}
#btn:active,
#btn:hover {
    background-color: darkblue;
    color: burlywood;
}
#bttn:active,
#bttn:hover {
    background-color: darkblue;
    color: burlywood;
}

.submit{
    margin-bottom: 10px;
    background-color: burlywood;
    border: 1px transparent;
    border-radius: 20px;
    width: 80px;
    height: 30px;

}
/*.button:active,*/
.submit:hover {
    background-color: darkblue;
    color: white;
}
.view-contents {list-style: none;
}

#score-tally {
    margin: 5px auto;
    width: fit-content;
    font-size: 1.2rem;
    /*flex-direction:row-reverse;*/
}
.scores {
    padding: 25px;
    height: 10px;
    justify-content: space-between;
    
}

#correct {
    color: green;
    font-weight: bold;
    height: 20px;
    width: 20px;
}

#incorrect {
    color: red;
    font-weight: bold;
    padding-left: 0;
}  
#rules{
    text-align: center;
   /* background:  rgb(214, 214, 247);*/

}
    
    
.contact {
    font-size: 70%;
    margin-top: 70px;
    margin-bottom: 0;
    padding: 5%;
    color: #3a3a3a;
    box-sizing: border-box;
    align-content: space-around;
    background-color: rgb(172, 172, 200);
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
}

#rules h3 {
    cursor: pointer;
    background-color: #4CAF50;
}
    
@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    #btn #button {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
   

   /* .score-area {
        width: 100%;
    }*/

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }

}
@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    #btn  {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
    }

}